/* HOMELANDING css */

.home-landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.home-main-image {
    width: 100%;
    height: 5%;
}

/* .site-description-signup-container {} */

/* .site-description-text-container {} */

h3.site-description-texts {
    color: white;
}

/* button.get-started-button {} */

/* p.site-tagline {} */

.home-movies-container {
    display: flex;
    width: 95%;
    justify-content: center;
    gap: 1%;
}

.home-single-movie-container {
    width: 10%;
    border: .5px solid gray;
}

.home-movie-posters {
    width: 100%;
    height: 100%;
    /* border: 2px solid red */
}

/* .reviews-lists-explanation-container {} */

/* h4.write-share-compile-text {} */

/* p.below-reviews-lists-text {} */

/* .home-reviews-lists-container {} */

/* .home-reviews-container {} */

.home-reviews-header-container {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

/* p.home-recent-reviews {} */

/* ul.home-reviews-list {} */

li.home-reviews-li {
    list-style-type: none;
    display: flex;
}

img.home-review-movie-poster {
    width: 10%;
}

/* .home-review-info-container {} */

span.home-review-movie-info {
    display: flex;
}

span.home-review-user-info {
    display: flex;
}

/* p.home-review-username {} */

/* .home-review-num-stars {} */

/* p.home-review-description-text {} */
