/* HOMELANDING css */

.home-landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
}

img.home-main-image {
    width: 60%;
    height: 5%;
}

.site-description-signup-container {
    padding: 2%;
}

/* .site-description-text-container {} */

h3.site-description-texts {
    color: white;
}

/* button.get-started-button {} */

p.site-tagline {
    padding-top: 2.5%;
    font-weight: 100;
}

.home-movies-container {
    display: flex;
    width: 95%;
    justify-content: center;
    gap: 1%;
    flex-wrap: wrap;
}

.home-single-movie-container {
    width: 10%;
    border: .5px solid gray;
}

.home-movie-posters {
    width: 100%;
    height: 100%;
    /* border: 2px solid red */
}

.reviews-lists-explanation-container {
    padding: 2%;
}

/* h4.write-share-compile-text {} */

/* p.below-reviews-lists-text {} */

/* .home-reviews-lists-container {} */

/* .home-reviews-container {} */

.home-reviews-header-container {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

/* p.home-recent-reviews {} */

/* ul.home-reviews-list {} */

li.home-reviews-li {
    list-style-type: none;
    display: flex;
    padding-top: 3%;
    padding-bottom: 1.5%;
    border-bottom: .5px solid #9ab
}

img.home-review-movie-poster {
    width: 10%;
    margin-right: 7%
}

/* .home-review-info-container {} */

span.home-review-movie-info {
    display: flex;
}

span.home-review-user-info {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    align-items: center;
    /* border: red 2px solid; */
}

p.home-review-username {
    font-weight: bolder;

}

.home-review-num-stars {
    height: fit-content;
}

/* p.home-review-description-text {} */
