input {
    width: 97%;
    padding: 5px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: rgb(45, 43, 43);
    color: white;
}

select {
    width: 97%;
    padding: 5px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: rgb(45, 43, 43);
    color: white;
}

.movie-field {
    padding: 2%;
    padding-top: 5%;
}

.movie-field > .field-label {
    display: flex;
}

.field-label > label {
    padding-right: 1%;
    /* border: red 2px solid; */
}


.movie-form-container {
    display: flex;
    justify-content: space-around;
}

.movie-field > input {
    width: 60%;
}

#movie-form-button-container {
    text-align: center;
    margin-top: 10%;
    padding-bottom: 5%;
}

#movie-submit-button {
    color: white;
    background-color: rgb(0, 176, 32);
    border: none;
    box-shadow: none;
    padding: 2% 4%;
    border-radius: 5px;
}
