/* TODO Add site wide styles */

* {
    font-family: 'Lato', sans-serif;
    /* padding: 0%; */
    margin: 0%;
}

html {
    /* background-color: rgb(19, 19, 19); */
    font-family: 'Lato', sans-serif;
    color: #d8e0e8;;
    background-image: linear-gradient(#1a1a1a,#071b45);
    height: 1300px;
}

button {
    cursor: pointer;
    /* box-shadow: 50px; */
}

.errors {
    color: red;
}

a {
    color: #d8e0e8;;
    cursor: pointer;
    text-decoration: none;
}

ul {
    list-style: none;
}
