.movie-details-container {
    display: flex;
    padding: 3%;
}

/* .details-movie-info-container {} */

.poster-trailer-container {
    display: flex;
    flex-direction: column;
}

img.details-movie-poster {
    width: 80%;
}

.details-movie-stats {
    width: 100%;
    padding-top: 7%;
    padding-bottom: 7%;
    /* text-align: right; */
}

/* a.details-trailer-link {} */

/* .details-right-movie-container {} */

/* .details-movie-info-container {} */

.details-movie-texts-container {
    display: flex;
}

.details-movie-info-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1.5%;
    padding-bottom: 2%;
    /* border: red 2px solid; */
}

h2.details-movie-title {
    color: white;
}

/* .details-year-director {} */

.details-middle-movie-info-container {
    width: 70%;
    padding-right: 10%;
}

p.details-tagline-text {
    color: #9ab;
    padding-bottom: 2%;
    font-weight: 100;
}

p.details-summary-test {
    color: #9ab;
    padding-bottom: 2.5%;
}

p.cast-crew-header {
    color: #00e054;
    padding-bottom: 2%;
}

table.details-crew-table {
    padding-bottom: 2%;
}

p.details-key-p {
    color: #789;
}

.details-tr {
    height: min-content;
    padding-top: 20px;
}

.details-tr > td.details-key-td {
    /* border: red 2px solid; */
    padding-top: 15%;

}

.details-tr > td.details-td-text {
    padding-top: 2.75%;
}

.details-key-td {
    display: flex;
    align-items: flex-end;
    /* width: 200%; */
}

.details-empty-border {
    width: 100%;
    border-bottom: gray 2px dotted;
}

td.details-td-text {
    color: #9ab;
    width: fit-content;
}

.details-table-text {
    /* background-color: #283038; */
    /* padding: 1.5%; */

}

.details-right-add-review-container {
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: fit-content;
    background-color: #456;
}

.details-review-buttons-container > div {
    /* border: red 2px solid; */
    /* padding: 5%; */
}


.create-review-button {
    width: 100%;
}

.details-review-username-stars {
    width: 100%;
    display: flex;
}

span.review-username {
    font-weight: 700;
}

/* .movie-details-reviews-container {} */

button.manage-review-button {
    background-color: #456;
    color: #bcd;
    box-shadow: none;
    border: .5px black solid;
    padding: 5px;
    height: fit-content;
    /* border: red 2px solid; */
}

.manage-review-buttons {
    display: flex;
    flex-direction: column;
}

.details-user-review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 10%;
}

.details-heart-container {
    padding: 7%;
}

#user-review-heart {
    padding: 10%;
}

.edit-review-button {
    background-color: transparent;
    color: blue;
}

.average-rating {
    padding: 7%;
    /* border: red 2px solid; */
    /* background-color: rgb(19, 19, 19); */
    background-image: linear-gradient(#1a1a1a,#071b45);
    text-align: center;
}

p.details-reviews-index-header {
    border-bottom: 1px solid #9ab;
}

.details-review-items {
    margin-top: 1.75%;
    padding: 3%;
    width: 100%;
    border-bottom: .5px solid #9ab;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

p.details-review-text {
    padding-left: 4%;
    font-weight: 200;
}

p.review-date-details {
    color: #789;
}

.fa-solid.fa-heart {
    color: rgb(236, 128, 39);
}

.fa-solid.fa-star {
    color: #00e054;
}
